  <h1> <%= format_title(@facilities) %> found</h1>
<ul id="facilities">
  <% @facilities.each do |facility| %>
    <li>
      <article class="facility">
        <header>
           <%= image_for(facility) %>
          <h2><%= link_to facility.name, facility %></h2>
        </header>
        <p>
          <%= truncate(facility.tagline, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Phone</th>
            <td><%= number_to_phone(facility.phone, area_code: true) %></td>
          </tr>
          <tr>
            <th>Address</th>
            <td>
              <%= facility.street %>
              <%= facility.city %>
              <%= facility.state %>
              <%= facility.zip %>
            </td>
          </tr>
          <tr>
            <th>iTriage ID</th>
            <td><%= facility.iTriage_id %></td>
          </tr>
        </table>
        <footer>
         <%= link_to "Review Facility", facility_path(facility), class: 'button' %>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
