<fieldset id="location">
  <ol>
    <li class="required">
      <%= form_tag("facilities", method: "post") do %>
        <%= label_tag(:location) %>
        <%= text_field_tag(:location) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </li>
    OR
    <br>
    <br>
      <%= link_to "Find Facilities Near Me", facilities_path(:location => "Denver, CO"), class: 'button' %>
  </ol>
</fieldset>
<br>
<br>
<center> Medical Facility Review allows you to find Urgent Care Facilities near your input location and add reviews of your own, or read reviews of others to help make an informed choice for your care. Enjoy!</center>
