<article id="facility" class="facility">

  <% if @obj %>
    <%= scrivito_tag :div, @obj, :body %>
  <% elsif scrivito_in_editable_view? %>
    <%= link_to "Provide facility data", create_scrivito_obj_facility_path(@facility) ,method: 'POST'%>
  <% end %>

  <header>
    <%= image_for(@facility) %>
    <h1><%= @facility.name %></h1>
  </header>

  <p>
    <%= @facility.tagline.to_s.html_safe %>
  </p>

  <h3 class="no-rule">
    <%= number_to_phone(@facility.phone, area_code: true) %>
  </h3>

  <h3> Address:</h3>
  <p>
    <%= @facility.street %><br>
    <%= @facility.city %>,
    <%= @facility.state %><br>
    <%= @facility.zip %>
  </p>
  <h3>iTriage Facility ID:</h3>
  <p>
    <%= @facility.iTriage_id %>
  </p>
    <% if @facility.recent_reviews.any? %>
      <h3>Recent Reviews</h3>
      <ol id="reviews">
        <% @facility.recent_reviews.each do |review| %>
          <span class="review">Review By: <%= review.name %></span><br/>
          <span calss="date">Submitted: <%= time_ago_in_words(review.created_at) %> ago</span><br/>
          <span class="review">Review: "<%= review.content %>"</span><br><br/><br/>
        <% end %>
      </ol>
      <p>
        Read all <%= link_to pluralize(@facility.reviews.size, "review"), facility_reviews_path(@facility) %>
      </p>
    <% end %>
    <footer>
    <nav>
      <%= link_to pluralize(@facility.reviews.size, "Review"), facility_reviews_path(@facility), class: 'button' %>
      <%= link_to 'Submit Review', new_facility_review_path(@facility), class: 'button' %>
      <%= link_to "Back to All Facilities", facilities_path, class: 'button' %>
    </nav>
  </footer>
</article>


