<!DOCTYPE html>
<html>
<head>
  <%= scrivito_head_tags %>
  <title>Medical Facility Review</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<%= notice %>

<div id="wrapper">

  <div id="container">

    <section id="content">
      <%= yield %>
      <%= scrivito_body_tags %>
    </section>
  </div>

</div>

<%= render "layouts/footer" %>

</body>
</html>
